@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.book-details-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #1f2937;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Delus', cursive;
  color: #fff;
  text-align: center;
  
}

.book-details-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.book-details-container img {
  max-width: 200px;
  border-radius: 4px;
}

.book-details-container p {
  line-height: 1.6;
  margin-bottom: 12px;
}

.book-details-meta {
  overflow: hidden;
  margin-top: 10px;
}

.book-details-meta strong {
  color: #fff;
}

.book-details-description {
  clear: both;
  margin-top: 20px;
  font-size: 1rem;
  color: #9ca3af;
}