@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.entire {
  font-family: "Delius", cursive;
  background-color: #4F46E5;
  min-height: 100vh; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    background-color: (90deg, #7C3AED, #4F46E5);
}

#logo {
  width: 100px; 
  height: auto; 
}

.header h2 {
  font-size: 1.8rem;
  margin: 0;
}

